@use '../../../Styles/variables' as v;
@use '../../../Styles/mixins' as m;

.jobs {
  &__title {
    font-size: 1.75rem;
    font-weight: 700;
    color: v.$brand-navy;
    margin-bottom: 0.25rem;
  }

  &__subtitle {
    margin-bottom: v.$spacer * 1.5;
  }
}
